/* Default setup */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
    background: red;
}

.beauty-link {
    color: white;
    text-decoration: none;
}

.beauty-link:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid white;
}


/* Navbar */

.navbar {
    background: black;
}

.navbar ul {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    list-style: none;
}

.navbar ul li {
    padding: 10px;
}


/* Footer */

.footer {
    background: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.footer ul li {
    padding: 3px;
}


/* Margins */

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}


/* Heights */

.h-600 {
    height: 600px;
}