<div class="nav">
    <div class="small-navbar">
        <div class="title">
            BlogMarket
        </div>
        <div class="icon">
            <i class="fas fa-bars fa-2x"></i>
        </div>
    </div>
    <div class="navbar mb-10">
        <ul>
            <li>
                <a href="/" class="beauty-link">Home</a>
            </li>
            <li>
                <a href="<%= articlesRoot %>" class="beauty-link">Articles</a>
            </li>
            <li>
                <a href="<%= productsRoot %>" class="beauty-link">Products</a>
            </li>
            <li>
                <a href="/" class="beauty-link">Home</a>
            </li>
            <li>
                <a href="/" class="beauty-link">Home</a>
            </li>
        </ul>
    </div>
</div>