<div class="navbar mb-10">
    <ul>
        <li>
            <a href="#" class="beauty-link">Home</a>
        </li>
        <li>
            <a href="#" class="beauty-link">Home</a>
        </li>
        <li>
            <a href="#" class="beauty-link">Home</a>
        </li>
        <li>
            <a href="#" class="beauty-link">Home</a>
        </li>
        <li>
            <a href="#" class="beauty-link">Home</a>
        </li>
    </ul>
</div>