<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Font awesome-->
    <link rel="stylesheet" href="../../font-awesome/css/all.css" />
    <link rel="stylesheet" href="../../font-awesome/css/font-awesome.css" />

    <!-- Jquery -->
    <script src="../../jquery/jquery.js"></script>

    <!-- Custom jquery -->
    <script src="../../js/main.js"></script>

    <!-- Custom css -->
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Article</title>
</head>

<body>
    <h1>Article created with id:
        <%= article.id %>
    </h1>
    <br>
    <a href="/" class="btn btn-green">All articles</a>
</body>

</html>